*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-weight: 400;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 100%;
}

button{
    all: unset;
}


h1, h2{
    font-family: 'Poppins', sans-serif;
}